<header>
    <img id="crest" src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/17/United_States_Soccer_Federation_logo_2016.svg/1024px-United_States_Soccer_Federation_logo_2016.svg.png">
    <div class="header--headings">
        <div class="header--site-name">U.S. Soccer iCal Feeds</div>
        <h1 class="header--page-title">{{ title }}</h1>
    </div>
</header>
