<head>
    <meta charset="UTF-8">
    <title>{{ title }} | US Soccer iCal Feeds</title>
    <link href="https://fonts.googleapis.com/css?family=Monda:400,700" rel="stylesheet">
    <link href="styles.css" rel="stylesheet" media="all">
</head>
